@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Black.eot");
  src: local("./fonts/Proxima Nova Black"), local("ProximaNova-Black"), url("./fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-Black.woff") format("woff"), url("./fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Bold.eot");
  src: local("./fonts/Proxima Nova Bold"), local("ProximaNova-Bold"), url("./fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-Bold.woff") format("woff"), url("./fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Regular.eot");
  src: local("./fonts/Proxima Nova Regular"), local("ProximaNova-Regular"), url("./fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-Regular.woff") format("woff"), url("./fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Extrabld.eot");
  src: local("./fonts/Proxima Nova Extrabold"), local("ProximaNova-Extrabld"), url("./fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-Extrabld.woff") format("woff"), url("./fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

.container {
  max-width: 83.33333vw;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: "Proxima Nova", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66%;
}

.col-10 {
  width: 83.33%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66%;
}

.col-7 {
  width: 58.33%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.12%;
}

.col-4 {
  width: 33.33%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66%;
}

.col-1 {
  width: 8.88%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-center {
  text-align: center;
}

.header {
  padding-top: 2.77778vw;
  padding-bottom: 4.30556vw;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(0.17361vw, -50%);
          transform: translate(0.17361vw, -50%);
  width: 0.06944vw;
  height: 1.73611vw;
  background-color: #fff;
  opacity: 0.25;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__info {
  margin-left: 1.18056vw;
}

.logo__image {
  width: 2.63889vw;
  height: 2.63889vw;
}

.logo__title {
  font-size: 1.66667vw;
  font-weight: 800;
  color: #181818;
}

.logo__description {
  font-size: 1.11111vw;
  font-weight: 400;
  color: #7b7b7b;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #fe5f1e;
  border-radius: 2.08333vw;
  padding: 1.11111vw 1.52778vw;
  border: 0.13889vw solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button__price, .button__count {
  font-size: 1.11111vw;
  font-weight: 700;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button__icon {
  margin: 0 0.83333vw 0 2.08333vw;
  width: 1.11111vw;
  height: 1.11111vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button__icon path {
  stroke: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button:hover {
  background-color: #fff;
  border: 0.13889vw solid #fe5f1e;
}

.button:hover .button__price,
.button:hover .button__count {
  color: #fe5f1e;
}

.button:hover .button__icon {
  fill: #fe5f1e;
}

.button:hover .button__icon path {
  stroke: #fe5f1e;
}

.button:hover::before {
  background-color: #fe5f1e;
}

.hero__row {
  margin: -0.69444vw;
}

.hero__column {
  padding: 0.69444vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero__item {
  width: 100%;
}

.hero__item img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
}

.hero__item:hover img {
  opacity: 0.8;
}
/*# sourceMappingURL=index.css.map */